.paginate-container {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.paginate-container button {
    justify-content: space-between;
    margin: 0 5px;
    background: white;
    border-radius: 5px;
    padding: 3px 7px;
    border: 1px solid gray;
    cursor: pointer;
}

.paginate-container .active {
    padding: 4px 10px;
    /* background: rgb(255, 174, 75); */
    color: white;
    border: none;
}
